@import '../../../styles';

app-left-sidebar {
  width: 100%;
}

.center-container {
  padding-right: 2rem;
}

.center-spinner {
  position: absolute;
  top: 200%;
  left: 50%;
  margin-bottom: 100px;
  transform: translate(-50%, -50%);
}
