<div class="table-responsive py-5" *ngIf="exchangeData">
  <table class="table table-hover table-striped table-hover-darker">
    <thead class="thead-dark">
    <tr class="table__row">
      <th class="pointer" (click)="sort('title')">
        Учреждение
        <i class="fa" [ngClass]="{'fa-sort': column != 'title',
        'fa-sort-asc': (column == 'title' && !isDesc),
        'fa-sort-desc': (column == 'title' && isDesc) }"
           aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('orgType')">
        Тип учреждения
        <i class="fa" [ngClass]="{'fa-sort': column != 'orgType',
        'fa-sort-asc': (column == 'orgType' && !isDesc),
        'fa-sort-desc': (column == 'orgType' && isDesc) }"
           aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('date')">
        Дата обновления
        <i class="fa" [ngClass]="{'fa-sort': column != 'date',
        'fa-sort-asc': (column == 'date' && !isDesc),
        'fa-sort-desc': (column == 'date' && isDesc) }"
           aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('currencies.' + currencyType + '.bid')">
        Покупка
        <i class="fa" [ngClass]="{'fa-sort': column != 'currencies.' + currencyType + '.bid',
        'fa-sort-asc': (column == 'currencies.' + currencyType + '.bid' && !isDesc),
        'fa-sort-desc': (column == 'currencies.' + currencyType + '.bid' && isDesc) }"
           aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('currencies.' + currencyType + '.ask')">
        Продажа
        <i class="fa" [ngClass]="{'fa-sort': column != 'currencies.' + currencyType + '.ask',
        'fa-sort-asc': (column == 'currencies.' + currencyType + '.ask' && !isDesc),
        'fa-sort-desc': (column == 'currencies.' + currencyType + '.ask' && isDesc) }"
           aria-hidden="true"> </i>
      </th>
    </tr>
    </thead>
    <div class="table__spinner" *ngIf="isLoading">
      <mat-spinner aria-label="Loading..."></mat-spinner>
    </div>
    <tbody *ngIf="!isLoading">
    <tr class="table__row" [class.highlighted]="+organization.currencies[currencyType].ask === minAsk"
        *ngFor="let organization of exchangeData.organizations | currency: currencyType | orderBy: column : isDesc">
      <td><a [href]="organization.link.replace('/cash', '')">{{organization.title}}</a></td>
      <td>{{exchangeData.orgTypes.get(organization.orgType)}}</td>
      <td>{{(organization.currencies[currencyType].updated || exchangeData.date) | date: 'MMM d, y, HH:mm:ss'}}</td>
      <td>{{organization.currencies[currencyType].bid}}</td>
      <td>{{organization.currencies[currencyType].ask}}</td>
    </tr>
    </tbody>
  </table>
</div>
