@import '../../../../styles';

.pointer {
  cursor: pointer;
}

.table-hover-darker {
  tbody {
    tr {
      &:hover {
        background-color: $color-dark-transparent-15;
      }
    }
  }
}

.highlighted {
  background-color: #c2daca !important;
}

.table {
  &__spinner {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    margin-bottom: 100px;
  }
}
