<div class="container-fluid">
  <div class="row">
    <app-left-sidebar></app-left-sidebar>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 mt-5">
      <div class="center-spinner" *ngIf="!exchangeData">
        <mat-spinner></mat-spinner>
      </div>
      <h1>{{title}}</h1>
      <app-bank-services></app-bank-services>
      <div *ngIf="exchangeData">
        <h2 class="text-center"><a [attr.href]="exchangeData.link">{{exchangeData.title}}</a></h2>
        <form [formGroup]="selectCurrencyForm">
          <label>Выберите валюту
            <select class="form-control" formControlName="currency">
              <option [value]="i[0]" *ngFor="let i of priorityCurrenciesArray">
                {{i[0] + ' - ' + i[1]}}
              </option>
              <hr>
              <option [value]="i[0]" *ngFor="let i of regularCurrenciesArray">
                {{i[0] + ' - ' + i[1]}}
              </option>
            </select></label>
        </form>
      </div>
      <app-bank-table></app-bank-table>
    </main>
  </div>
</div>
