<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Учреждение</th>
      <th>Ссылка</th>
      <th>Дата обновления</th>
      <th>Покупка</th>
      <th>Продажа</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let organization of exchangeData.organizations | currency: currencyType">
      <td>{{organization.title}}</td>
      <td>{{organization.link}}</td>
      <td>{{exchangeData.date}}</td>
      <td>{{organization.currencies[currencyType].bid}}</td>
      <td>{{organization.currencies[currencyType].ask}}</td>
    </tr>
    </tbody>
  </table>
</div>
