<nav class="navbar navbar-expand-lg navbar-dark fixed-top main-navbar">
  <a class="navbar-brand" routerLink="/">SourceBench</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor02" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/exchange">Exchange <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!--<form class="form-inline">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>
