@import '../../../styles';
@import '../../../../node_modules/bootstrap/scss/bootstrap';

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  border-right: 1px solid #EEE;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav-link {
    border-radius: 0;
  }
}

.menu-element {
  background-color: $color-dark-blue;
  color: $color-white;
}

@include media-breakpoint-down(xs) {
  .sidebar {
    position: relative;
  }
}
