@import '../../styles';
@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 50px;
}

.main-navbar {
  background-color: $color-green;
}

.menu-element {
  background-color: $color-dark-blue;
  color: $color-white;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  border-right: 1px solid #EEE;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav-link {
    border-radius: 0;
  }
}

.placeholders {
  padding-bottom: 3rem;

  img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  .sidebar {
    position: relative;
  }
}
